<div sfr-card class="p-6">
    <div class="d-flex flex-align-center mb-6">
        <div class="s1 fg-support03-medium">Usuários Cadastrados</div>
        <div class="title-divider mr-6"></div>
        <button sfr-button-outline--primary [disabled]="estado.carregando" (clicarEvento)="incluirUsuario()">Incluir novo usuário</button>
    </div>
    <div class="mb-10">
        <sfr-table-filter [config]="_filtrosExibidos" [dadosTabela]="_listaUsuarios"></sfr-table-filter>
    </div>

    <div class="w-100 pos-relative">
        <sfr-spinner [name]="estado.spinnerId" [text]="estado.spinnerMensagem"></sfr-spinner>
        <mat-table matSort [dataSource]="_listaUsuarios" class="w-100">
            <ng-container matColumnDef="nome">
                <mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Ordenar por nome">Nome</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.nome }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="matricula">
                <mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Ordenar por matrícula">Matrícula</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.matricula }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="login">
                <mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Ordenar por usuário">Usuário</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.login }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="cargo">
                <mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Ordenar por cargo">Cargo</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.cargo }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="acao-1">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element; let i = index">
                    <button sfr-button-flat--transparent--rounded class="fg-inherit bg-inherit-hover" matTooltip="Remover" matTooltipPosition="above" (clicarEvento)="removerUsuario(element.cpf)">
                        <sfr-icon icon="delete" [iconClass]="['fg-inherit', 's2']"></sfr-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="_colunasExibidas"></mat-header-row>
            <mat-row *matRowDef="let row; columns: _colunasExibidas"></mat-row>
            <div *matNoDataRow class="p1 fg-neutral-medium p-4">Sem dados para exibir no momento.</div>
        </mat-table>
        <sfr-table-paginator [dadosTabela]="_listaUsuarios"></sfr-table-paginator>
    </div>
</div>
