<div sfr-card class="p-6" *ngIf="_dados">
    <div class="d-flex flex-align-center mb-6">
        <div class="s1 fg-support03-medium">Lotes</div>
        <div class="title-divider mr-6"></div>
        <button sfr-button-outline--primary [disabled]="!_dados || estado.carregando" (clicarEvento)="contabilizar()">Contabilizar</button>
    </div>
    <div class="mb-10">
        <sfr-table-filter [config]="_filtrosExibidos" [dadosTabela]="_listaLotes"></sfr-table-filter>
    </div>

    <div class="w-100 pos-relative">
        <sfr-spinner [name]="estado.spinnerId" [text]="estado.spinnerMensagem"></sfr-spinner>
        <mat-table matSort [dataSource]="_listaLotes" class="w-100">
            <!-- ['numeroLote', 'data', 'tipo', 'totalLote', 'totalLancado', 'saldoFaltante', 'totalDebitos', 'totalCreditos', 'dataFechamento', 'acao-2']; -->
            <ng-container matColumnDef="numeroLote">
                <mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Ordenar por Nº do lote">Nº do lote</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.numero }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="data">
                <mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Ordenar por data">Data</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.data | date: 'dd/MM/YYYY' }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="tipo">
                <mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Ordenar por tipo">Tipo</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.tipoDescricao }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="totalLote">
                <mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Ordenar por total do lote">Total do lote</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.total | currency }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="totalLancado">
                <mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Ordenar por total lançado">Total lançado</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.totalLancado | currency }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="saldoFaltante">
                <mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Ordenar por saldo a lançar">Saldo a lançar</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.saldoFaltante | currency }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="totalDebitos">
                <mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Ordenar por débito lançado">Total Déb. lançado</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.totalDebitos | currency }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="totalCreditos">
                <mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Ordenar por crédito lançado">Total Cré. lançado</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.totalCreditos | currency }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="dataFechamento">
                <mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Ordenar por data fechamento">Fechamento</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.dataFechamento | date: 'dd/MM/YYYY' }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
                <mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Ordenar por status">Status</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div class="w-100 d-flex flex-justify-start">
                        <div class="p-1 fg-neutral-white w-fit border-radius-1" [ngClass]="element.aberto ? 'bg-success-medium' : 'bg-danger-medium'">{{ element.loteAbertoExibicao }}</div>
                    </div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="acao-2">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element; let i = index">
                    <button sfr-button-flat--transparent--rounded class="fg-inherit bg-inherit-hover" [matTooltip]="element.aberto ? 'Fechar Lote' : 'Abrir Lote'" matTooltipPosition="above" (clicarEvento)="alterarLote(element)">
                        <sfr-icon [icon]="element.aberto ? 'lock-open' : 'lock-closed'" [iconClass]="['fg-inherit', 's2']"></sfr-icon>
                    </button>
                    <button sfr-button-flat--transparent--rounded class="fg-inherit bg-inherit-hover" matTooltip="Visualizar Histórico" matTooltipPosition="above" (clicarEvento)="visualizarHistorico(element)">
                        <sfr-icon icon="page-search" [iconClass]="['fg-inherit', 's2']"></sfr-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="_colunasExibidas"></mat-header-row>
            <mat-row *matRowDef="let row; columns: _colunasExibidas"></mat-row>
            <div *matNoDataRow class="p1 fg-neutral-medium p-4">Sem dados para exibir no momento.</div>
        </mat-table>
    </div>
</div>
