<ng-container *ngIf="estado.carregando; then carregando"> </ng-container>
<ng-container *ngIf="estado.erro; then conteudoComDados"></ng-container>
<ng-container *ngIf="estado.comDados; then conteudoComDados"></ng-container>

<ng-template #carregando>
    <div sfr-card class="p-6 pos-relative" style="height: 128px">
        <sfr-spinner [name]="estado.spinnerId" [text]="estado.spinnerMensagem"></sfr-spinner>
    </div>
</ng-template>

<ng-template #conteudoComDados>
    <div sfr-card class="p-6">
        <div class="d-flex flex-align-center mb-6">
            <div class="s1 fg-support03-medium">Pessoas</div>
            <div class="title-divider"></div>
        </div>
        <div class="d-flex flex-column flex-justify-center flex-align-center mb-10">
            <div class="h2 fg-primary-medium mb-1">{{ _pessoasCadastradas ? _pessoasCadastradas.length : 0 }}</div>
            <div class="h4 fg-primary-medium">Cadastradas</div>
        </div>
        <div class="mb-6">
            <ng-container *ngFor="let pessoa of _pessoasCadastradas">
                <div class="d-flex flex-align-center pt-2 pb-2" style="height: 48px">
                    <div class="p1 fg-neutral-dark mt-auto mb-auto">{{ pessoa.nome }}</div>
                </div>
                <div class="divider"></div>
            </ng-container>
        </div>
        <div class="d-flex flex-justify-end">
            <button sfr-button-outline--primary size="fit" [disabled]="estado.carregando" (clicarEvento)="acessarPessoas()">Acessar pessoas</button>
        </div>
    </div>
</ng-template>
