<div sfr-card class="p-6" *ngIf="_dados">
    <div class="d-flex flex-align-center mb-6">
        <div class="s1 fg-support03-medium">Extrato</div>
        <div class="title-divider mr-6"></div>
    </div>
    <sfr-table-filter [config]="_filtrosExibidos" [dadosTabela]="_listaMovimentacoes"></sfr-table-filter>
    <div class="w-100 pos-relative">
        <sfr-spinner [name]="estado.spinnerId" [text]="estado.spinnerMensagem"></sfr-spinner>
        <mat-table matSort [dataSource]="_listaMovimentacoes" class="w-100">
            <ng-container matColumnDef="data">
                <mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Ordenar por data">Data Movimento</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.data | date: 'dd/MM/YYYY' }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="descricao">
                <mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Ordenar por lançamento">Lançamento</mat-header-cell>
                <mat-cell class="p3" *matCellDef="let element">{{ element.descricao }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="valor">
                <mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Ordenar por valor">Valor</mat-header-cell>
                <mat-cell class="p3" *matCellDef="let element">{{ element.valor | currency: 'BRL' }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="saldo">
                <mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Ordenar por saldo">Saldo</mat-header-cell>
                <mat-cell class="p3" *matCellDef="let element">{{ element.saldo | currency: 'BRL' }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="consolidado">
                <mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Ordenar por consolidado">Consolidado</mat-header-cell>
                <mat-cell class="p3" *matCellDef="let element">
                    <div class="w-100 d-flex flex-justify-start">
                        <div class="p-1 fg-neutral-white w-fit border-radius-1" [ngClass]="element.consolidado ? 'bg-success-medium' : 'bg-danger-medium'">{{ element.consolidadoExibicao }}</div>
                    </div>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="_colunasExibidas"></mat-header-row>
            <mat-row *matRowDef="let row; columns: _colunasExibidas"></mat-row>
            <div *matNoDataRow class="p1 fg-neutral-medium p-4">Sem dados para exibir no momento.</div>
        </mat-table>
    </div>
</div>
