@import '../../../../estilos/base/variables';
@import '../../../../estilos/base/colors';

// .mat-column-data {
//     flex: 0 0 auto;
// }

// .mat-column-valor {
//     flex: 0 0 auto;
// }

.table-dropdown {
    .mat-row:nth-child(4n + 2) {
        background-color: $color-neutral-lightest !important;
        .mat-cell {
            color: $color-neutral-darkest !important;
        }
    }

    .mat-row:nth-child(4n + 3) {
        background-color: $color-neutral-white !important;
        .mat-cell {
            color: $color-neutral-darkest !important;
        }
    }

    .mat-row:nth-child(4n + 1) {
        background-color: $color-neutral-white !important;
        .mat-cell {
            color: $color-neutral-darkest !important;
        }
    }

    .mat-row:nth-child(4n + 0) {
        background-color: $color-neutral-white !important;
        .mat-cell {
            color: $color-neutral-darkest !important;
        }
    }

    .mat-row:nth-child(4n + 0):hover {
        background-color: $color-feedback-info-darkest !important;
        .mat-cell {
            color: $color-neutral-white !important;
            .s3 {
                color: $color-neutral-white !important;
            }

            ::ng-deep .icon {
                fill: $color-neutral-white !important;
            }
        }
    }
}
