<ng-container [formGroup]="control">
    <mat-select [class.mat-select--invalid]="invalid" [formControlName]="controlName" [disableOptionCentering]="true" [placeholder]="placeholder" (selectionChange)="definirSelecao($event)">
        <sfr-input type="select" [label]="false" placeholder="Buscar" [control]="_form" controlName="pesquisa"> </sfr-input>
        <mat-select-trigger>
            <div *ngIf="label" class="p3" style="margin-bottom: 5px">{{ placeholder }}</div>
            <div>
                <span>
                    {{ obterDescricao(control.get(controlName)?.value) }}
                </span>

                <div class="select_icon" [class.is-disabled]="control.get(controlName)?.disabled" (click)="removerSelecao($event)">
                    <sfr-icon icon="cancel" [iconClass]="['fg-neutral-dark', 'p5']"></sfr-icon>
                </div>
            </div>
        </mat-select-trigger>
        <mat-option *ngFor="let option of _listaOpcoesFiltrada | async" [value]="option.id">{{ option.descricao }}</mat-option>
        <mat-option *ngIf="_options.length === 0">Não existem dados</mat-option>
    </mat-select>
    <div *ngIf="invalid ? (invalidText ? invalidText : false) : false" class="p3 fg-danger-dark mt-1">{{ invalidText }}</div>
</ng-container>
