<div mat-dialog-title>
    <div class="d-flex flex-align-center mb-6">
        <div class="s1 fg-support03-medium">{{ _textos[_configuracao.operacao].titulo }}</div>
        <div class="title-divider"></div>
    </div>
</div>
<mat-dialog-content>
    <div class="d-flex flex-column pos-relative" style="width: 560px" [formGroup]="_form">
        <sfr-spinner [name]="estado.spinnerId" [text]="estado.spinnerMensagem"></sfr-spinner>

        <div class="grid gap-4 mb-4" style="grid-template-columns: 1fr 2fr">
            <div>
                <div class="s3 fg-neutral-darkest mb-2">Símbolo</div>
                <sfr-input type="texto" [label]="false" transform="uppercase" placeholder="Ex. BRL" [maxLength]="3" [validationMessages]="MensagensValidacaoMoeda" [control]="_form" controlName="simbolo"></sfr-input>
            </div>
        </div>

        <div class="grid gap-4 mb-4" style="grid-template-columns: 1fr 2fr">
            <div class="w-100">
                <div class="s3 fg-neutral-darkest mb-2">Código da moeda</div>
                <sfr-input type="texto" [label]="false" placeholder="Ex. 790" [validationMessages]="MensagensValidacaoMoeda" [control]="_form" controlName="codigo"></sfr-input>
            </div>

            <div class="w-100">
                <div class="s3 fg-neutral-darkest mb-2">Nome da moeda</div>
                <sfr-input type="texto" [label]="false" placeholder="Ex. Real" [validationMessages]="MensagensValidacaoMoeda" [control]="_form" controlName="nome"></sfr-input>
            </div>
        </div>

        <div class="grid gap-4 mb-4" style="grid-template-columns: 1fr 2fr">
            <div class="w-100">
                <div class="s3 fg-neutral-darkest mb-2">Código do país de origem</div>
                <sfr-input type="texto" [label]="false" placeholder="Ex. 1058 (Opcional)" [validationMessages]="MensagensValidacaoMoeda" [control]="_form" controlName="paisOrigemCodigo"></sfr-input>
            </div>
            <div class="w-100">
                <div class="s3 fg-neutral-darkest mb-2">País de origem</div>
                <sfr-input type="texto" [label]="false" placeholder="Ex. BRASIL (Opcional)" [validationMessages]="MensagensValidacaoMoeda" [control]="_form" controlName="paisOrigem"></sfr-input>
            </div>
        </div>

        <div>
            <div class="s3 fg-neutral-darkest mb-2">Importada do Banco Central</div>
            <sfr-switch checkedText="Sim" uncheckedText="Não" [control]="_form" controlName="importadoBC"></sfr-switch>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="gap-4 flex-justify-end">
    <button sfr-button-outline--primary size="fit" [disabled]="estado.carregando" (clicarEvento)="cancelar()">Cancelar</button>
    <button sfr-button-flat--primary size="fit" [disabled]="_form.invalid || _form.pristine || estado.carregando" (clicarEvento)="_textos[_configuracao.operacao].acao()">{{ _textos[_configuracao.operacao].botaoPrimario }}</button>
</mat-dialog-actions>
