<mat-dialog-content class="m-0 p-0">
    <div class="d-flex flex-column flex-justify-center flex-align-center">
        <div class="h6 text-center fg-neutral-darkest mb-6">Histórico de Alterações</div>
        <div class="w-100 pos-relative">
            <mat-table matSort [dataSource]="_listaHistoricos" class="w-100">
                <ng-container matColumnDef="data">
                    <mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Ordenar por data">Data</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{ element.data | date: 'dd/MM/YYYY HH:mm:ss' }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="usuario">
                    <mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Ordenar por usuário">Usuário</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{ element.usuarioNome }}({{ element.usuarioId }})</mat-cell>
                </ng-container>

                <ng-container matColumnDef="descricao">
                    <mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Ordenar por descricao">Descrição</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{ element.descricao }}</mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="_colunasExibidas"></mat-header-row>
                <mat-row *matRowDef="let row; columns: _colunasExibidas"></mat-row>
                <div *matNoDataRow class="p1 fg-neutral-medium p-4">Sem dados para exibir no momento.</div>
            </mat-table>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="m-0 p-0">
    <div class="d-flex flex-justify-end w-100 pl-4 pt-6">
        <button sfr-button-outline--primary size="fit" (clicarEvento)="acaoPrimaria()">Fechar</button>
    </div>
</mat-dialog-actions>
