<div>
    <div class="d-flex gap-4 mb-4">
        <button sfr-button-outline--primary [disabled]="!treeControl" size="fit" (clicarEvento)="expandirTodos()">Expandir todos</button>
        <button sfr-button-outline--primary [disabled]="!treeControl" size="fit" (clicarEvento)="retrairTodos()">Retrair todos</button>
    </div>
    <button sfr-button-link size="fit" [disabled]="obterControle().controls.length === 1" (clicarEvento)="adicionarFilho()">Criar Conta de Grau 1 <sfr-icon icon="circle-plus" [iconClass]="['fg-inherit', 'p1', 'ml-1']"></sfr-icon></button>
    <ng-container [formGroup]="_form">
        <ng-container formArrayName="planoContas">
            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
                    <button sfr-button-flat--transparent--rounded matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.id" class="fg-inherit bg-inherit-hover" [style.visibility]="node.expandable ? 'visible' : 'hidden'">
                        <sfr-icon [icon]="treeControl.isExpanded(node) ? 'chevron-down' : 'chevron-right'" [iconClass]="['fg-inherit', 's2']"></sfr-icon>
                    </button>

                    <div class="d-flex flex-align-center gap-4">
                        <div class="s3 fg-primary-medium">{{ node.numero }}</div>
                        <div class="p1 fg-primary-medium">{{ node.descricao }}</div>
                    </div>

                    <ng-container *ngIf="node.grau < 5">
                        <button sfr-button-link size="fit" [disabled]="obterControle().controls.length === 1" (clicarEvento)="adicionarFilho(node)">
                            <sfr-icon icon="circle-plus" [iconClass]="['fg-inherit', 'p1', 'ml-1']"></sfr-icon>
                        </button>
                    </ng-container>
                </mat-tree-node>

                <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding>
                    <ng-container [formGroupName]="node.indice">
                        <div class="pos-relative">
                            <sfr-spinner [name]="node.indice" [text]="estado.spinnerMensagem"></sfr-spinner>
                            <div class="d-flex flex-align-center gap-4 mb-1 ml-12" style="flex-wrap: wrap">
                                <div class="d-flex flex-align-center">
                                    <div class="p1 fg-neutral-darkest d-flex flex-align-center" style="padding: 8px 4px 8px 0px; height: 60px">{{ node.numero }}</div>
                                    <sfr-input type="texto" [label]="false" placeholder="Novo nº" [control]="obterControlePorId(node.indice)" controlName="numero" style="width: 80px"></sfr-input>
                                </div>

                                <sfr-input type="texto" [label]="false" placeholder="Digite uma descrição" [control]="obterControlePorId(node.indice)" controlName="descricao" style="width: 180px"></sfr-input>

                                <div style="width: 140px">
                                    <sfr-select placeholder="Tipo de conta" [control]="obterControlePorId(node.indice)" controlName="tipoId" [options]="_listaTipos"></sfr-select>
                                </div>
                                <div style="width: 140px">
                                    <sfr-select placeholder="Credor/Devedor" [control]="obterControlePorId(node.indice)" controlName="responsabilidadeId" [options]="_listaResponsabilidades"></sfr-select>
                                </div>

                                <button sfr-button-flat--primary size="fit" [disabled]="obterControlePorId(node.indice).invalid" (clicarEvento)="cadastrarPlanoConta(node)">Cadastrar</button>

                                <button sfr-button-flat--transparent--rounded class="fg-inherit bg-inherit-hover" matTooltip="Cancelar" matTooltipPosition="above" (clicarEvento)="removerFilho(node)">
                                    <sfr-icon icon="cancel" [iconClass]="['fg-inherit', 's2']"></sfr-icon>
                                </button>
                            </div>
                        </div>
                    </ng-container>
                </mat-tree-node>

                <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
                    <button sfr-button-flat--transparent--rounded matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.id" class="fg-inherit bg-inherit-hover">
                        <sfr-icon [icon]="treeControl.isExpanded(node) ? 'chevron-down' : 'chevron-right'" [iconClass]="['fg-inherit', 's2']"></sfr-icon>
                    </button>

                    <div class="d-flex flex-align-center gap-4">
                        <div class="s3 fg-primary-medium">{{ node.numero }}</div>
                        <div class="p1 fg-primary-medium">{{ node.descricao }}</div>
                    </div>
                    <ng-container *ngIf="node.grau < 5">
                        <button sfr-button-link size="fit" [disabled]="obterControle().controls.length === 1" (clicarEvento)="adicionarFilho(node)">
                            <sfr-icon icon="circle-plus" [iconClass]="['fg-inherit', 'p1', 'ml-1']"></sfr-icon>
                        </button>
                    </ng-container>
                </mat-tree-node>
            </mat-tree>
        </ng-container>
    </ng-container>
</div>
