<div sfr-card class="p-6 pos-relative">
    <div class="mb-4">
        <button sfr-button-flat--transparent class="fg-neutral-darkest" (clicarEvento)="navegarParaPessoas()">
            <sfr-icon icon="chevron-left" [iconClass]="['fg-inherit', 's2']"></sfr-icon>
            <div class="p1 fg-neutral-darkest ml-2">Voltar</div>
        </button>
    </div>
    <div class="d-flex flex-align-center mb-6">
        <div class="s1 fg-support03-medium">Detalhes</div>
        <div class="title-divider"></div>
    </div>

    <div class="d-flex flex-column gap-1 p-2 border-basic w-fit mb-6">
        <div>
            <span class="p3 fg-neutral-darkest">Nome: </span>
            <span class="p2 fg-neutral-darkest">{{ _pessoaNome }}</span>
        </div>
    </div>

    <div class="d-flex flex-align-center mb-1">
        <div class="s1 fg-support03-medium">Bancos e contas</div>
        <div class="title-divider mr-6"></div>
        <button sfr-button-outline--primary [disabled]="estado.carregando" (clicarEvento)="cadastrarConta()">Adicionar conta</button>
    </div>
    <div class="p3 fg-neutral-darkest mb-6">Selecione as opções que deseja acompanhar</div>

    <ng-container *ngIf="estado.carregando; then carregando"> </ng-container>
    <ng-container *ngIf="estado.comDados; then conteudoComDados"> </ng-container>
    <ng-container *ngIf="estado.erro; then erro"></ng-container>

    <ng-template #carregando>
        <div class="pos-relative" style="min-height: 80px">
            <sfr-spinner [name]="estado.spinnerId" [text]="estado.spinnerMensagem"></sfr-spinner>
        </div>
    </ng-template>
    <ng-template #conteudoComDados>
        <ng-container *ngIf="_pessoaDetalhe?.bancos && _pessoaDetalhe.bancos.length > 0">
            <sfr-tabs mode="horizontal" theme="primary">
                <ng-container *ngFor="let banco of _pessoaDetalhe?.bancos">
                    <ng-template tab [label]="banco.nome">
                        <mat-table matSort [dataSource]="banco.contas" class="w-100">
                            <ng-container matColumnDef="descricao">
                                <mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Ordenar por descrição">Descrição</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{ element.descricao }}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="agencia">
                                <mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Ordenar por agência">Agência</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{ element.agencia }}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="numero">
                                <mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Ordenar por conta">Conta</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{ element.numero }}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="dataAbertura">
                                <mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Ordenar por data de abertura">Data de Abertura</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{ element.dataAbertura | date: 'dd/MM/YYYY' }}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="moeda">
                                <mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Ordenar por moeda">Moeda</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{ element.moedaSimbolo }}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="tipo">
                                <mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Ordenar por conta contábil padrão">Conta Contábil Padrão</mat-header-cell>
                                <mat-cell class="p3" style="text-decoration: underline" [matTooltip]="element.planoContaDescricao" matTooltipPosition="above" *matCellDef="let element">{{ element.planoContaNumero }}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="planoConta">
                                <mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Ordenar por tipo">Tipo</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{ element.tipoDescricao }}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="ativo">
                                <mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Ordenar por ativo">Ativo</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <div class="w-100 d-flex flex-justify-start">
                                        <div class="p-1 fg-neutral-white w-fit border-radius-1" [ngClass]="element.ativo ? 'bg-success-medium' : 'bg-danger-medium'">{{ element.ativo ? 'Sim' : 'Não' }}</div>
                                    </div>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="acao-2">
                                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                <mat-cell *matCellDef="let element; let i = index">
                                    <div class="w-100 d-flex flex-justify-end gap-1">
                                        <button sfr-button-flat--transparent--rounded class="fg-inherit bg-inherit-hover" (clicarEvento)="alterarConta(element, banco)">
                                            <sfr-icon icon="edit" [iconClass]="['fg-inherit', 's2']"></sfr-icon>
                                        </button>
                                        <button sfr-button-flat--transparent--rounded class="fg-inherit bg-inherit-hover" matTooltip="Remover" matTooltipPosition="above" (clicarEvento)="removerConta(element, banco)">
                                            <sfr-icon icon="delete" [iconClass]="['fg-inherit', 's2']"></sfr-icon>
                                        </button>
                                    </div>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="_colunasExibidasContas"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: _colunasExibidasContas"></mat-row>
                            <div *matNoDataRow class="p1 fg-neutral-medium p-4">Sem dados para exibir no momento.</div>
                        </mat-table>
                    </ng-template>
                </ng-container>
            </sfr-tabs>
        </ng-container>
        <ng-container *ngIf="_pessoaDetalhe?.bancos?.length === 0">
            <div class="p1 fg-neutral-medium p-4 border-basic text-center">Não existem bancos e contas adicionadas no momento.</div>
        </ng-container>
    </ng-template>

    <ng-template #erro>
        <div class="box-information">
            <div class="p3 fg-neutral-darkest">Falha no carregamento do conteúdo.</div>
            <button sfr-button-link size="fit" (clicarEvento)="obterPessoa(_pessoaId, 'Obtendo detalhes...')">Atualizar <sfr-icon icon="refresh" [iconClass]="['fg-inherit', 'p1', 'ml-1']"></sfr-icon></button>
        </div>
    </ng-template>

    <!-- <div class="d-flex flex-align-center mb-1">
            <div class="s1 fg-support03-medium">Cartões</div>
            <div class="title-divider mr-6"></div>
            <button sfr-button-outline--primary (clicarEvento)="cadastrarCartao()">Adicionar cartão</button>
        </div>
        <div class="p3 fg-neutral-darkest mb-6">Selecione as opções que deseja acompanhar</div>
        <div class="w-100 pos-relative">
            <sfr-spinner [name]="estado.spinnerId" [text]="estado.spinnerMensagem"></sfr-spinner>
            <mat-table matSort [dataSource]="_listaCartoes" class="w-100">
                <ng-container matColumnDef="descricao">
                    <mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Ordenar por descricao">Descrição</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{ element.descricao }}</mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="numero">
                    <mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Ordenar por numero">Número</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{ element.numero }}</mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="vencimento">
                    <mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Ordenar por vencimento">Vencimento da Fatura</mat-header-cell>
                    <mat-cell *matCellDef="let element">Dia {{ element.vencimentoDia }}</mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="validade">
                    <mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Ordenar por validade">Validade</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{ element.validadeExibicao | titlecase }}</mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="bandeira">
                    <mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Ordenar por bandeira">Bandeira</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{ element.bandeira }}</mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="ativo">
                    <mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Ordenar por ativo">Ativo</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <div class="w-100 d-flex flex-justify-start">
                            <div class="p-1 fg-neutral-white w-fit border-radius-1" [ngClass]="element.ativo ? 'bg-success-medium' : 'bg-danger-medium'">{{ element.ativoExibicao }}</div>
                        </div>
                    </mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="acao">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element; let i = index">
                        <div class="w-100 d-flex flex-justify-end gap-1">
                            <button sfr-button-flat--transparent--rounded class="fg-inherit bg-inherit-hover" (clicarEvento)="alterarCartao(element)">
                                <sfr-icon icon="edit" [iconClass]="['fg-inherit', 's2']"></sfr-icon>
                            </button>
                        </div>
                    </mat-cell>
                </ng-container>
    
                <mat-header-row *matHeaderRowDef="_colunasExibidasCartoes"></mat-header-row>
                <mat-row *matRowDef="let row; columns: _colunasExibidasCartoes"></mat-row>
                <div *matNoDataRow class="p1 fg-neutral-medium p-4">Sem dados para exibir no momento.</div>
            </mat-table>
        </div> -->
</div>
