<div mat-dialog-title>
    <div class="d-flex flex-align-center mb-6">
        <div class="s1 fg-support03-medium">{{ _textos[_configuracao.operacao].titulo }}</div>
        <div class="title-divider"></div>
    </div>
</div>
<mat-dialog-content>
    <div class="d-flex flex-column pos-relative" style="width: 720px" [formGroup]="_form">
        <sfr-spinner [name]="estado.spinnerId" [text]="estado.spinnerMensagem"></sfr-spinner>
        <div class="s3 fg-neutral-darkest mb-4">Banco</div>

        <div class="grid grid-cols-3 gap-4 mb-4">
            <sfr-select placeholder="Banco" [invalid]="_form.hasError('Erro')" [control]="_form" controlName="bancoId" [options]="_listaBancos"></sfr-select>
            <sfr-input type="texto" [label]="true" placeholder="Agência" [invalid]="_form.hasError('Erro')" [control]="_form" controlName="agencia"></sfr-input>
            <sfr-input type="texto" [label]="true" placeholder="Número da conta" [invalid]="_form.hasError('Erro')" [control]="_form" controlName="numero"></sfr-input>
        </div>

        <div class="grid gap-4 mb-4" style="grid-template-columns: 2fr 1fr">
            <sfr-input type="texto" [label]="true" placeholder="Descrição da conta (Opcional)" [invalid]="_form.hasError('Erro')" [control]="_form" controlName="descricao"></sfr-input>

            <sfr-input type="data" [label]="true" placeholder="Data de abertura" [invalid]="_form.hasError('Erro')" [control]="_form" controlName="dataAbertura"></sfr-input>
        </div>

        <div class="grid gap-4 mb-4" style="grid-template-columns: 2fr 1fr">
            <div>
                <div class="s3 fg-neutral-darkest mb-2">Moeda</div>
                <sfr-select placeholder="Tipo" [invalid]="_form.hasError('Erro')" [control]="_form" controlName="moedaId" [options]="_listaMoedas"></sfr-select>
            </div>
            <div>
                <div class="s3 fg-neutral-darkest mb-2">Tipo</div>
                <sfr-select placeholder="Conta" [invalid]="_form.hasError('Erro')" [control]="_form" controlName="tipoId" [options]="_listaConta"></sfr-select>
            </div>
        </div>

        <div class="grid grid-cols-1 gap-4 mb-4">
            <sfr-select [label]="true" placeholder="Conta contábil padrão (Opcional)" [invalid]="_form.hasError('Erro')" [control]="_form" controlName="planoContaId" [options]="_listaPlanoContas"></sfr-select>
        </div>
        <div>
            <div class="s3 fg-neutral-darkest mb-2">Ativo</div>
            <sfr-switch checkedText="Sim" uncheckedText="Não" [control]="_form" controlName="ativo"></sfr-switch>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="gap-4 flex-justify-end">
    <button sfr-button-outline--primary size="fit" [disabled]="estado.carregando" (clicarEvento)="cancelar()">Cancelar</button>
    <button sfr-button-flat--primary size="fit" [disabled]="_form.invalid || estado.carregando" (clicarEvento)="_textos[_configuracao.operacao].acao()">{{ _textos[_configuracao.operacao].botaoPrimario }}</button>
</mat-dialog-actions>
