<div class="p-6 pos-relative bg-neutral-white">
    <sfr-spinner [name]="estado.spinnerId" [text]="estado.spinnerMensagem"></sfr-spinner>
    <div class="d-flex flex-align-center flex-justify-start gap-4">
        <div class="d-flex flex-align-center gap-4" style="flex-wrap: wrap; flex-grow: 1">
            <ng-container *ngFor="let campo of _campos">
                <ng-container *ngIf="campo === 'pessoa'">
                    <div class="w-100" style="max-width: 220px; min-width: 220px">
                        <sfr-select placeholder="Pessoa" [label]="true" [control]="obterPesquisaControle()" controlName="pessoaId" [options]="_listaPessoas"></sfr-select>
                    </div>
                </ng-container>
                <ng-container *ngIf="campo === 'pessoa-banco-conta'">
                    <div class="w-100" style="max-width: 220px; min-width: 220px">
                        <sfr-select placeholder="Pessoa" [label]="true" [control]="obterPesquisaControle()" controlName="pessoaId" [options]="_listaPessoas"></sfr-select>
                    </div>
                    <div class="w-100" style="max-width: 180px; min-width: 160px">
                        <sfr-select placeholder="Banco" [label]="true" [control]="_form" controlName="bancoId" [options]="_listaBancos"></sfr-select>
                    </div>
                    <div class="w-100" style="max-width: 200px; min-width: 180px">
                        <sfr-select placeholder="Conta" [label]="true" [control]="_form" controlName="contaId" [options]="_listaContas"></sfr-select>
                    </div>
                </ng-container>
                <ng-container *ngIf="campo === 'periodo'">
                    <div class="w-100" style="max-width: 140px; min-width: 140px">
                        <sfr-input type="data" [label]="true" placeholder="Data Inicial" [control]="_form" controlName="dataInicial"></sfr-input>
                    </div>
                    <div class="w-100" style="max-width: 140px; min-width: 140px">
                        <sfr-input type="data" [label]="true" placeholder="Data Final" [control]="_form" controlName="dataFinal"></sfr-input>
                    </div>
                </ng-container>
                <ng-container *ngIf="campo === 'dia'">
                    <div class="w-100" style="max-width: 140px; min-width: 140px">
                        <sfr-input type="data" [label]="true" placeholder="Data" [control]="_form" controlName="data" [filter]="filtroFinaisSemana"></sfr-input>
                    </div>
                </ng-container>
                <ng-container *ngIf="campo === 'mes'">
                    <div class="w-100" style="max-width: 140px; min-width: 140px">
                        <sfr-input type="data-ano-mes" [label]="true" placeholder="Mês/Ano" [control]="_form" controlName="mensal"></sfr-input>
                    </div>
                </ng-container>
            </ng-container>

            <div>
                <button sfr-button-outline--primary size="fit" [disabled]="_form.invalid" (clicarEvento)="pesquisar()">Pesquisar</button>
            </div>
        </div>
    </div>
</div>
