<div class="p-6 pos-relative bg-neutral-white">
    <sfr-spinner [name]="estado.spinnerId" [text]="estado.spinnerMensagem"></sfr-spinner>
    <div class="d-flex flex-align-center gap-4">
        <div style="width: 280px">
            <div class="s3 fg-neutral-darkest mb-2">Pessoa</div>
            <sfr-select placeholder="Selecione" [control]="_form" controlName="pessoaId" [options]="_listaPessoas"></sfr-select>
        </div>
        <div style="width: 280px">
            <div class="s3 fg-neutral-darkest mb-2">Data Inicial</div>
            <sfr-input type="data" [label]="true" placeholder="Data" [control]="_form" controlName="dataInicial"></sfr-input>
        </div>
        <div style="width: 280px">
            <div class="s3 fg-neutral-darkest mb-2">Data Final</div>
            <sfr-input type="data" [label]="true" placeholder="Data" [control]="_form" controlName="dataFinal"></sfr-input>
        </div>
        <div>
            <div class="s3 fg-neutral-darkest mb-2" style="visibility: hidden">Pesquisar</div>
            <button sfr-button-outline--primary size="fit" [disabled]="_form.invalid" (clicarEvento)="pesquisar()">Pesquisar</button>
        </div>
    </div>
</div>
