<div sfr-card class="p-6">
    <div class="d-flex flex-align-center mb-6">
        <div class="s1 fg-support03-medium">Plano de Contas</div>
        <div class="title-divider mr-6"></div>
        <button sfr-button-outline--primary [disabled]="estado.carregando" (clicarEvento)="cadastrarPlanoConta()">Cadastrar novo plano de contas</button>
    </div>
    <div class="mb-10">
        <sfr-table-filter [config]="_filtrosExibidos" [dadosTabela]="_listaPlanoContas"></sfr-table-filter>
    </div>

    <div class="w-100 pos-relative">
        <sfr-spinner [name]="estado.spinnerId" [text]="estado.spinnerMensagem"></sfr-spinner>
        <div class="mb-4">
            <sfr-alert theme="info" text="A exclusão de uma conta só é possível quando não há subcontas vinculadas. Neste caso, é necessário realizar a exclusão de todas as subcontas para prosseguir."></sfr-alert>
        </div>

        <mat-table matSort [dataSource]="_listaPlanoContas" class="w-100">
            <ng-container matColumnDef="numero">
                <mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Ordenar por número">Nº da conta</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.numero }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="grau">
                <mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Ordenar por grau">Grau</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.grau }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="descricao">
                <mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Ordenar por descrição">Descrição</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.descricao }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="tipo">
                <mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Ordenar por tipo de conta">Tipo de conta</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.tipoDescricao }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="responsabilidade">
                <mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Ordenar por credor/devedor">Credor/Devedor</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.responsabilidadeDescricao }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="acao-2">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element; let i = index">
                    <button sfr-button-flat--transparent--rounded class="fg-inherit bg-inherit-hover" matTooltip="Editar" matTooltipPosition="above" (clicarEvento)="alterarPlanoConta(element)">
                        <sfr-icon icon="edit" [iconClass]="['fg-inherit', 's2']"></sfr-icon>
                    </button>
                    <button sfr-button-flat--transparent--rounded class="fg-inherit bg-inherit-hover bg-inherit-disabled" [disabled]="element?.subcontas?.length !== 0" matTooltip="Remover" matTooltipPosition="above" (clicarEvento)="removerPlanoConta(element.id)">
                        <sfr-icon icon="delete" [iconClass]="['fg-inherit', 's2']"></sfr-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="_colunasExibidas"></mat-header-row>
            <mat-row *matRowDef="let row; columns: _colunasExibidas"></mat-row>
            <div *matNoDataRow class="p1 fg-neutral-medium p-4">Sem dados para exibir no momento.</div>
        </mat-table>
        <div class="pt-2" *ngIf="estado.erro">
            <sfr-panel-error (reload)="obterListaPlanoContas('Obtendo lista de planos de contas...')"></sfr-panel-error>
        </div>
        <sfr-table-paginator [dadosTabela]="_listaPlanoContas"></sfr-table-paginator>
    </div>
</div>
